<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css" />
        <title>{% block title %}{% endblock %} - uToob</title>
    </head>
    <body>
        <header>
            <div class="brand">
                <h1><a href="/">uToob</a></h1>
            </div>

            <div class="search">
                <form action="search.php">
                    <input type="text" name="q" class="text" placeholder="Search..." value="{{ (searchTerm) ? searchTerm : "" }}" />
                    <input type="submit" class="send" />
                </form>
            </div>

            <div class="nav">
                <nav>
                    <ul>
                        {% if user %}
                            {% if user.isLecturer %}
                            <li><a class="btn" href="upload.php">Upload</a></li>
                            <li><a class="btn" href="myPlaylists.php">My Videos & Playlists</a></li>
                            {% endif %}
                            {% if user.isAdmin %}
                                <li><a class="btn" href="admin.php">Users 
                                        {% if user.pendingUserCount > 0 %}<span class="badge">{{ user.pendingUserCount }}</span>{% endif %}
                                            </a></li>
                            {% endif %}
                            <li><a class="btn" href="logout.php">Log out</a></li>
                        {% else %}
                            <li><a class="btn" href="login.php">Log in</a></li>
                            <li><a class="btn" href="register.php">Register</a></li>
                        {% endif %}
                    </ul>
                <nav>
            </div>
        </header>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
