{% extends "base.twig" %}

{% block title %}Internal server error{% endblock %}

{% block content %}
<dialog open>
    <div class="error">
        <h1>Error</h1>

        <div class="content">
            {{ msg }}
        </div>
        {% if exc %}
        <div class="stack">{{ exc }}</div>
        {% endif %}
    </div>
</dialog>
{% endblock %}
