{% extends "base.twig" %}

{% block title %}Log in{% endblock %}

{% block content %}
    <h2>Log in</h2>
    {{ error }}

    <form method="post">
        <div class="control">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" />
        </div>

        <div class="control">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" />
        </div>

        <div class="control">
            <label></label>
            <input type="submit" />
        </div>
    </form>
{% endblock %}
