{% extends "base.twig" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>Register</h2>

    {% if errors %}
    <ul>
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}
    {% endif %}
    </ul>

    <form method="post">
        <div class="control">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" />
        </div>

        <div class="control">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-zA-Z]).*$" />
        </div>

        <div class="control">
            <label for="password2">Repeat Password</label>
            <input id="password2" type="password" name="password2" pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-zA-Z]).*$" />
        </div>

        <div class="control">
            <label for="is_lecturer">I am a lecturer</label>
            <input type="checkbox" id="is_lecturer" name="is_lecturer" />
        </div>

        <div class="control">
            <label></label>
            <input type="submit" />
        </div>
    </form>
{% endblock %}
